<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnmotor.icv.tsp.device.mapper.DeviceModelInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bnmotor.icv.tsp.device.model.entity.DeviceModelInfoPo">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="device_type" property="deviceType"/>
        <result column="device_model" property="deviceModel"/>
        <result column="chi_name" property="chiName"/>
        <result column="eng_name" property="engName"/>
        <result column="ng_name_short" property="ngNameShort"/>
        <result column="supplier_code" property="supplierCode"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="hardware_version" property="hardwareVersion"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, device_type, project_id, device_model, chi_name, eng_name, ng_name_short, supplier_code, supplier_name, hardware_version, del_flag, version, create_by, create_time, update_by, update_time
    </sql>

    <select id="selectPage" resultType="DeviceModelInfoPo">
        select
        <include refid="Base_Column_List"/>
        from tb_device_model_info
        <where>
            del_flag = 0 and device_type = #{deviceType}
            <if test="searchKey != null">
                and device_model like CONCAT('%', #{searchKey}, '%')
            </if>
        </where>
    </select>

    <select id="selectAll" resultType="DeviceModelInfoPo">
        select
        <include refid="Base_Column_List"/>
        from tb_device_model_info
        <where>
            del_flag = 0 and device_type = #{deviceType}
        </where>
    </select>

    <select id="selectAllDeviceInfoVos" resultType="com.bnmotor.icv.tsp.device.model.response.device.DeviceModelInfoVo">
        SELECT
        id AS deviceModelInfoId, chi_name AS deviceModelInfoName
        FROM tb_device_model_info
        <where>
            del_flag = 0
        </where>
    </select>

    <select id="selectAllByModel" resultType="DeviceModelInfoPo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_device_model_info
        <where>
            del_flag = 0
            <if test="deviceModels != null and deviceModels.size > 0">
                and device_model in
                <foreach collection="deviceModels" separator="," open="(" close=")" item="deviceModel">
                    #{deviceModel}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectByDeviceTypeAndModel" resultType="DeviceModelInfoPo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_device_model_info
        <where>
            device_type = #{deviceType} and device_model = #{deviceModel} and del_flag = 0
        </where>
    </select>
</mapper>
