<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnmotor.icv.tsp.device.mapper.VehicleConfigImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bnmotor.icv.tsp.device.model.entity.VehicleConfigImgPo">
        <id column="id" property="id"/>
        <result column="config_id" property="configId"/>
        <result column="img_category" property="imgCategory"/>
        <result column="img_type" property="imgType"/>
        <result column="img_url" property="imgUrl"/>
        <result column="relation_id" property="relationId"/>
        <result column="img_order" property="imgOrder"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, config_id, img_category, img_type, img_url, relation_id, img_order, del_flag, version, create_by, create_time, update_by, update_time
    </sql>

    <select id="listConfigPic" resultType="PicVo">
        select id, img_url, img_order
        from tb_vehicle_config_img
        <where>
            config_id = #{configId} and del_flag = 0
            <if test="imgCategory != null">
                and img_category = #{imgCategory}
            </if>
            <if test="imgType != null">
                and img_type = #{imgType}
            </if>
        </where>
        <if test="size !=null">
            limit #{size}
        </if>
    </select>

    <select id="countConfigPic" resultType="Integer">
        select count(1)
        from tb_vehicle_config_img
        <where>
            config_id = #{configId} and del_flag = 0
            <if test="imgCategory != null">
                and img_category = #{imgCategory}
            </if>
            <if test="imgType != null">
                and img_type = #{imgType}
            </if>
        </where>
    </select>

    <select id="countAllConfigPic" resultType="VehConfigPicVo">
        select config_id, count(1) as totalPics
        from tb_vehicle_config_img
        <where>
            del_flag = 0
            <if test="configIds != null and configIds.size > 0">
                and config_id in
                <foreach collection="configIds" item="configId" open="(" close=")" separator=",">
                    #{configId}
                </foreach>
            </if>
            <if test="imgCategory != null">
                and img_category = #{imgCategory}
            </if>
            <if test="imgType != null">
                and img_type = #{imgType}
            </if>
        </where>
        group by config_id
    </select>

    <select id="sumConfigs" resultType="Integer">
        select count(1) from(
           select distinct config_id
           from tb_vehicle_config_img
           <where>
             del_flag = 0
             <if test="configIds != null and configIds.size > 0">
                and config_id in
                <foreach collection="configIds" item="configId" open="(" close=")" separator=",">
                    #{configId}
                </foreach>
             </if>
             <if test="categoryType != null">
                 and img_category = #{categoryType}
             </if>
           </where>
           group by config_id) temp
    </select>

</mapper>
