<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnmotor.icv.tsp.device.mapper.VehModelDeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bnmotor.icv.tsp.device.model.entity.VehModelDevicePo">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="org_id" property="orgId"/>
        <result column="brand_id" property="brandId"/>
        <result column="series_id" property="seriesId"/>
        <result column="model_id" property="modelId"/>
        <result column="year_style_id" property="yearStyleId"/>
        <result column="config_id" property="configId"/>
        <result column="device_model" property="deviceModel"/>
        <result column="device_type" property="deviceType"/>
        <result column="del_flag" property="delFlag"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_id, org_id, brand_id, series_id, model_id, year_style_id, config_id, device_model, device_type, del_flag, version, create_by, create_time, update_by, update_time
    </sql>

    <select id="listByConfigId" resultType="VehModelDevicePo">
        select
        <include refid="Base_Column_List"/>
        from tb_veh_model_device
        where del_flag = 0 and config_id = #{configId}
    </select>

    <select id="selectByDeviceTypeAndModel" resultType="VehModelDevicePo">
        select
        <include refid="Base_Column_List"/>
        from tb_veh_model_device
        where device_type = #{deviceType} and device_model = #{deviceModel} and del_flag = 0
    </select>

    <select id="listByFromId" resultType="VehModelDevicePo">
        select
        <include refid="Base_Column_List"/>
        from tb_veh_model_device
        where id > #{fromId} and del_flag = 0
        limit #{limit}
    </select>
</mapper>
