<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnmotor.icv.tsp.ota.mapper.DeviceTreeNodeMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bnmotor.icv.tsp.ota.model.entity.DeviceTreeNodePo">
        <id column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="node_name" property="nodeName" />
        <result column="node_code" property="nodeCode" />
        <result column="parent_id" property="parentId" />
        <result column="node_id_path" property="nodeIdPath" />
        <result column="node_name_path" property="nodeNamePath" />
        <result column="node_code_path" property="nodeCodePath" />
        <result column="tree_level" property="treeLevel" />
        <result column="root_node_id" property="rootNodeId" />
        <result column="status" property="status" />
        <result column="order_num" property="orderNum" />
        <result column="version" property="version" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_id, node_name, node_code, parent_id, node_id_path, node_name_path, node_code_path, tree_level, root_node_id, status, order_num, version, del_flag, create_by, create_time, update_by, update_time
    </sql>

</mapper>
