<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnmotor.icv.tsp.ota.mapper.FotaFirmwarePkgMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bnmotor.icv.tsp.ota.model.entity.FotaFirmwarePkgPo">
        <id column="id" property="id" />
        <result column="pkg_type" property="pkgType" />
        <result column="upload_file_id" property="uploadFileId" />
        <result column="build_upload_file_id" property="buildUploadFileId" />
        <result column="pkg_file_name" property="pkgFileName" />
        <result column="original_pkg_file_path" property="originalPkgFilePath" />
        <result column="original_package_alg" property="originalPackageAlg" />
        <result column="original_pkg_sha_code" property="originalPkgShaCode" />
        <result column="original_pkg_size" property="originalPkgSize" />
        <result column="original_report_file_path" property="originalReportFilePath" />
        <result column="original_dif_script_url" property="originalDifScriptUrl" />
        <result column="build_pkg_status" property="buildPkgStatus" />
        <result column="build_pkg_time" property="buildPkgTime" />
        <result column="build_pkg_code" property="buildPkgCode" />
        <result column="release_pkg_file_path" property="releasePkgFilePath" />
        <result column="release_pkg_file_download_url" property="releasePkgFileDownloadUrl" />
        <result column="release_pkg_sha_code" property="releasePkgShaCode" />
        <result column="release_pkg_encrypt_alg" property="releasePkgEncryptAlg" />
        <result column="release_pkg_encrypt_secret" property="releasePkgEncryptSecret" />
        <result column="release_pkg_sign_alg" property="releasePkgSignAlg" />
        <result column="release_pkg_sign" property="releasePkgSign" />
        <result column="release_pkg_file_size" property="releasePkgFileSize" />
        <result column="release_pkg_chip_info" property="releasePkgChipInfo" />
        <result column="release_pkg_status" property="releasePkgStatus" />
        <result column="release_pkg_status_msg" property="releasePkgStatusMsg" />
        <result column="release_pkg_cdn_download_url" property="releasePkgCdnDownloadUrl" />
        <result column="release_pkg_cdn_obj_id" property="releasePkgCdnObjId" />
        <result column="release_pkg_cdn_time" property="releasePkgCdnTime" />
        <result column="estimate_flash_time" property="estimateFlashTime" />
        <result column="version" property="version" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pkg_type, upload_file_id, build_upload_file_id, pkg_file_name, original_pkg_file_path, original_package_alg, original_pkg_sha_code, original_pkg_size, original_report_file_path, original_dif_script_url, build_pkg_status, build_pkg_time, build_pkg_code, release_pkg_file_path, release_pkg_file_download_url, release_pkg_sha_code, release_pkg_encrypt_alg, release_pkg_encrypt_secret, release_pkg_sign_alg, release_pkg_sign, release_pkg_file_size, release_pkg_chip_info, release_pkg_status, release_pkg_status_msg, release_pkg_cdn_download_url, release_pkg_cdn_obj_id, release_pkg_cdn_time, estimate_flash_time, version, del_flag, create_by, create_time, update_by, update_time
    </sql>

    <!-- 物理删除-->
    <delete id ="deleteBatchIdsPhysical" parameterType="java.util.List">
        DELETE FROM tb_fota_firmware_pkg
        WHERE id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>
