<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnmotor.icv.tsp.ota.mapper.TaskTerminateMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bnmotor.icv.tsp.ota.model.entity.TaskTerminatePo">
			<id column="id" property="id" />
			<result column="ota_plan_id" property="otaPlanId" />
			<!-- <result column="task_id" property="taskId" />-->
			<result column="max_download_failed" property="maxDownloadFailed" />
			<result column="max_install_failed" property="maxInstallFailed" />
			<result column="max_verify_failed" property="maxVerifyFailed" />
			<result column="version" property="version" />
			<result column="del_flag" property="delFlag" />
			<result column="create_by" property="createBy" />
			<result column="create_time" property="createTime" />
			<result column="update_by" property="updateBy" />
			<result column="update_time" property="updateTime" />
	</resultMap>
		<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
        id, ota_plan_id, <!-- task_id,--> max_download_failed, max_install_failed, max_verify_failed, version, del_flag, create_by, create_time, update_by, update_time
    </sql>

	<delete id="deleteByOtaPlanIdPhysical" parameterType="Long">
      DELETE FROM tb_task_terminate WHERE ota_plan_id = #{value}
    </delete>
</mapper>
