<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnmotor.icv.tsp.sms.mapper.SmsInfoDetailMapper">
    <resultMap type="SmsInfoDetailPo" id="BaseResultMap">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="smsInfoId" column="sms_info_id" />
        <result property="smsContent" column="sms_content"/>
        <result property="extraData" column="extra_data" />
    </resultMap>
    
    <sql id="baseColumns">
	 id, sms_info_id, sms_content, extra_data
    </sql>
</mapper>