<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gaea.user.center.service.mapper.UserPrivilegeMapper">

	<!--根据用户id批量删除中间表数据-->
    <delete id="deleteBatchByUserId" parameterType="Long">
		DELETE
		FROM
			tb_user_privilege
		WHERE
			user_id = #{userId}
    </delete>
	<!--根据资源id查询资源分配列表-->
	<select id="queryUserPrivilegeByPrivilegeId" parameterType="Long" resultType="gaea.user.center.service.model.entity.UserPrivilegePo">
		SELECT
			user_id,
			privilege_id
		FROM
			tb_user_privilege
		WHERE
			privilege_id = #{privilege_id}
	</select>

</mapper>
