<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gaea.vehicle.basic.service.dao.VehicleSeriesMapper">

    <insert id="insertVehicleSeries" parameterType="vehicleSeries" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO tb_vehicle_series
     (
    	series_name,
    	vehicle_brand_id,
    	create_time,
    	update_time
     )
      VALUES 
     (
    	#{seriesName},
    	#{vehicleBrandId},
    	SYSDATE(),
    	SYSDATE()
     )
    </insert>
  
    <delete id="deleteById" parameterType="Long">
      DELETE FROM tb_vehicle_series WHERE id = #{value}
    </delete>
  	
  	<sql id="pageWhere">
		<where>
	    </where>
  	</sql>
  	  
    <select id="countPage" resultType="int">
     SELECT count(*) FROM tb_vehicle_series
 	  <include refid="pageWhere"/>
    </select>
  
    <select id="queryPage" resultType="vehicleSeries">
      SELECT 
    	id,
    	series_name seriesName,
    	vehicle_brand_id vehicleBrandId,
    	create_time createTime,
    	update_time updateTime,
    	is_active isActive
      FROM tb_vehicle_series
      <include refid="pageWhere"/>
      ORDER BY id DESC
      LIMIT #{startRow},#{pageSize}
    </select>
  
    <select id="queryById" parameterType="Long" resultType="vehicleSeries">
      SELECT
    	id,
    	series_name seriesName,
    	vehicle_brand_id vehicleBrandId,
    	create_time createTime,
    	update_time updateTime,
    	is_active isActive
      FROM tb_vehicle_series
      WHERE id = #{value}
    </select>
  
    <update id="updateVehicleSeries" parameterType="vehicleSeries">
      UPDATE tb_vehicle_series
      SET
    	series_name = #{seriesName},
    	vehicle_brand_id = #{vehicleBrandId},
    	update_time = SYSDATE(),
    	is_active = #{isActive}
      WHERE id = #{id}
    </update>

    <select id="queryNameAndId" parameterType="vehicleSeries" resultType="vehicleSeries">
        SELECT
        id,
        series_name seriesName
        FROM tb_vehicle_series
        <where>
            <if test="seriesName !=null and seriesName !=''">
                AND series_name like #{seriesName} '%'
            </if>
            <if test="vehicleBrandId !=null and vehicleBrandId !=''">
                AND vehicle_brand_id like #{vehicleBrandId} '%'
            </if>
            <if test="isActive !=null">
                AND is_active = #{isActive}
            </if>
        </where>
        ORDER BY seriesName DESC
    </select>

</mapper>
